<h1>Team </h1>
<p>Meet the team </p>
<p>Kevin Arredondo <%= link_to "bio", "https://www.facebook.com/kevin.manica "%> CEO and Co-founder </p>
<p>Rodrigo Coutiño <%= link_to "bio", "https://es.wikipedia.org/wiki/Warren_Buffett" %> Co-founder </p>
